<div class="main-content">
    <h3>Clientes</h3>
    <hr/>
    <p>
        <p-button label="Novo" (click)="abrirForm()"></p-button>
    </p>
    <p-table [value]="clientes" tableStyleClass="prime-table">
        <ng-template pTemplate="header">
            <tr>
                <th>CPF</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Email</th>
                <th>Excluir</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cli>
            <tr>
                <td><a [routerLink]="['/restricted/cliente/form', cli.id]">{{cli.cpf}}</a></td>
                <td>{{cli.nome}}</td>
                <td>{{cli.sobrenome}}</td>
                <td>{{cli.email}}</td>
                <td><a href="javascript: return false;" (click)="confirmarExclusao(cli.id)">Excluir</a></td>
            </tr>
        </ng-template>
    </p-table>
</div>


