/* You can add global styles to this file, and also import other style files */
$fontFamily: Arial, Verdana;
$fontSize: 10pt;

body {
    margin: 0;    
    font-family: $fontFamily;
    font-size: $fontSize;

    router-outlet ~ * {
        position: absolute;
        /*height: 100%;*/
        width: 100%;
    }

    .container {
        margin: 0 auto;
        padding: 0 auto;
        width: 100%;
    }
   
    .main-content {
        margin: 20px;
    }

    .button-bar {
        text-align: right;
        
        * {
            margin: 2px;
        }
    }

    h3 {
        padding: 0px;
    }
    
    .prime-table{
        text-align: center;
        font-size: 0.8em;
    }

    hr {
        border-top: 1px solid #8c8b8b; 
        border-bottom: 0px;
    }

    .button-bar {
        text-align: right;
        
        * {
            margin: 2px;
        }
    }

    .button, button {
        display: inline-flex;
        align-items: center;
        padding: 8px 16px;
        border-radius: 2px;
        font-size: $fontSize;
        cursor: pointer;
        background-color: #007ad9;
        color: white;
        border: none;
    }
    
    .button:hover, button:hover {
        opacity: 0.8;
        font-weight: normal;
        color: white;
    }

    button.fillButton {
        align-items: center;
        padding: 8px 16px;
        border-radius: 2px;
        font-size: $fontSize;
        cursor: pointer;
        background-color: #007ad9;
        color: white;
        border: none;
    }

}

